* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #374785;
    --secondary-color: #24305E;
    --accent-color: #A8D0E6;
    --main-gray: #202124;
    --secondary-gray: #5f6368;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 2.5rem 5rem;
    color: var(--main-gray);
    background-color: #dfe6e9;
}

/* About Section */
.about {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    animation: animate 1s ease-out forwards;
    opacity: 0;
}

.about-big-text {
    margin-top: -1rem;
    font-size: 2rem;
    color: var(--secondary-gray);
    animation: animate 1s ease-out forwards;
    animation-delay: 200ms;
    opacity: 0;
}

.about-text {
    color:var(--secondary-gray);
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    animation: animate 1s ease-out forwards;
    animation-delay: 400ms;
    opacity: 0;
}

.about-name {
    color: var(--main-gray);
    font-weight: 700;
}

hr {
    color: #ccc;
    margin: 1.75rem auto;
    width: 95%;
    opacity: 0;
    animation: hr 1s ease-in-out forwards;
    animation-delay: 1000ms;
}

/* Projects Section */
h3 {
    animation: animate 1s ease-in-out forwards;
    animation-delay: 800ms;
    opacity: 0;
}

.link {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.project-container {
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    left: 0;
    /* transition: all 0.5s ease-in-out; */
    flex-wrap: wrap;
}

.project-wrapper {
    color: var(--secondary-gray);
    font-size: 0.80rem;
    position: relative;
    padding: 1rem;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;
    animation: animate 1s ease forwards;
    animation-delay: calc(var(--order) * 500ms);
}

.project-wrapper:hover {
    cursor: pointer;
    color: var(--main-color);
    transform: scale(1.03);
}

.project-name {
    font-weight: 700;
    color: var(--main-gray);
    position: absolute;
    top: 20px;
    letter-spacing: 1px;
}

.project-desc {
    color: var(--secondary-gray);
}

.project-year {
    position: absolute;
    bottom: 10px;
    font-size: 0.60rem;
    padding: 0.25rem 0.75rem;
    letter-spacing: 2px;
    background-color: var(--main-color);
    color: white;
    border-radius: 99px;
}

.footer {
    color:white;
    padding: 5px;
    font-size: .60rem;
    letter-spacing: 1px;
    text-align: center;
    animation: footer 1s ease-in forwards;
    animation-delay: 2000ms;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
}

/* Keyframes */
@keyframes animate {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
        to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hr {
    from {
        transform: translateX(-5rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.5;
    }
}

/* Media Queries */
@media only screen 
and (max-width: 812px) {
    body {
        padding: 1.5rem;
    }

    /* About Section */
    .about {
        margin-top: 1.5rem;
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .about-big-text {
        margin-top: 0;
        margin-bottom: 0.25rem;
        font-size: 1rem;
    }

    .about-text {
        font-size: .90rem;
    }

    hr {
        margin: 1rem 0;
    }

    /* Project Section */
    h3 {
        margin-bottom: 1rem;
    }

    button {
        display: none;
    }

    .scroll {
        overflow: visible;
        margin: 0 auto;
    }

    .project-container {
        flex-wrap: wrap;
        position: static;
        justify-content: center;
        align-content: flex-start;
        height: 100%;
    }

    .project-wrapper {
        padding: 1.25rem;
        height: 150px;
        width: 150px;
    }

    .project-name,
    .project-desc {
        font-size: 0.70rem;
    }

    .project-year {
        font-size: 0.5rem;
    }
}