* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #362326;
    --secondary-color: #ef4d3e; 
    --background: #fffdfc;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 2.5rem 5rem;
    color: var(--main-color);
    background-color: var(--background);
}

/* About Section */
.about {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    animation: animate 1s ease-out forwards;
    opacity: 0;
}

.about-big-text {
    margin-top: -1rem;
    font-size: 2rem;
    animation: animate 1s ease-out forwards;
    animation-delay: 200ms;
    opacity: 0;
}

.about-text {
    font-size: 0.80rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    animation: animate 1s ease-out forwards;
    animation-delay: 400ms;
    opacity: 0;
}

.about-name {
    font-weight: 700;
}

hr {
    color: var(--secondary-color);
    margin: 1.75rem auto;
    width: 95%;
    opacity: 0;
    animation: hr 1s ease-in-out forwards;
    animation-delay: 1000ms;
}

/* Projects Section */
h3 {
    animation: animate 1s ease-in-out forwards;
    animation-delay: 800ms;
    opacity: 0;
}

.link {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

.project-container {
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    left: 0;
    flex-wrap: wrap;
}

.project-wrapper {
    font-size: 0.80rem;
    position: relative;
    padding: 1rem;
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.10);
    opacity: 0;
    animation: animate 1s ease forwards;
    animation-delay: calc(var(--order) * 500ms);
    z-index: 1;
}

.project-name {
    font-weight: 700;
    color: var(--main-gray);
    position: absolute;
    top: 20px;
    letter-spacing: 1px;
}

.project-year {
    position: absolute;
    bottom: 10px;
    font-size: 0.60rem;
    padding: 0.25rem 0.75rem;
    letter-spacing: 2px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 99px;
}

/* Keyframes */
@keyframes animate {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
        to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hr {
    from {
        transform: translateX(-5rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.5;
    }
}

/* Media Queries */
@media only screen and (max-width: 812px) {
    body {
        padding: 1.5rem;
    }

    .project-wrapper {
        height: 150px;
        width: 150px;
    }

    .project-name,
    .project-desc,
    .project-year {
        font-size: 0.70rem;
    }
}